body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
    font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4CAF50, #81C784);
  padding: 40px;
}

.card {
  width: 320px;
  padding: 40px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid cyan;
  color: white;
  outline: none;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -15px;
  font-size: 12px;
  color: cyan;
}

button {
  width: 100%;
  padding: 12px;
  background: cyan;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.input-box {
  position: relative;
}

.input-box span {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
