body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 40px;
}

form {
  background: white;
  padding: 20px;
  width: 250px;
}
input {
  width: 100%;
  padding: 6px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #333;
  color: white;
  border: none;
}
label {
  font-weight: bold;
}

p {
  color: #666;
}

